* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard';
}

a {
    color: #000000;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #83B4FF;
}

.css-file-input {
    overflow: scroll;
    outline: 2.5px solid #1A2130;
    background: #ffffff;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px 100px -50px rgba(0,0,0,0.75);
}

.css-follower-file-input .js-follower-filename {
    display: inline-block;

}

.css-filename {
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    padding: 5px;
    user-select: none;
    border: 1px solid #121212;
}

.file-input-guide {
    margin-top: 10px;
    margin-left: 10px;
}

.file-input-guide span {
    /* color: #bb0000; */
    color: #00bb00;
}

.css-file-select-btn {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-top: -21px;
    width: 100px;
    line-height: 30px;
    height: 30px;
    color: #ffffff;
    font-weight: 500;
    background: #818181;
}

.css-file-select-btn:where(:hover, :focus) {
    transition: .5s;
    background: #555555;
}

.js-submit-json {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}